
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html,
#root {
  height: 100%;
  width: 100%;
}

.light-theme {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dark-theme {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.switch-button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightblue;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-button:hover {
  background-color: lightblue;
}
